<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Play{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/play.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="play-container">

        <div id="game-container" class="play-section">

            <img src="{{ asset('images/lv-logo.svg') }}" alt="Logo LV" id="lv-logo">

            <p style="text-align: center;">
                <img src="{{ asset('uploads/events/' ~ event.image) }}" alt="Event illustration" style="max-width: 90%;">
            </p>

            <div style="display: flex; padding: 0 15px; position: absolute; bottom: 10px; left: 20px; right: 20px;">
                {% for goody in event.goodies %}
                    <div class="goody-constainer" style="text-align: center; max-width: 150px; margin: auto;">
                        <div class="goody-img-container front" id="img-container-{{ goody.id }}">
                            <img src="{{ asset('uploads/events/' ~ goody.image) }}" alt="Goody image">
                        </div>
                        <h5 style="max-width: 150px; color: #FFF; font-family: Arial; font-size: 1.4em; margin-top: 5px; font-weight: normal;">{{ goody.name|capitalize }}</h5>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div id="feed-container" class="play-section">

            <h1>TWEET ZONE</h1>

            <p class="twitter-icon">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="svg-inline--fa fa-twitter fa-w-16" role="img" viewBox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" style="&#10;"/></svg>
            </p>

            <div id="tweet-feed">
                {% for tweet in lastFiveTweets %}
                    <div id="tweet{{ tweet.id }}" class="tweet-card">
                        <img src="{{ tweet.userAvatar }}" alt="avatar">
                        <h4>{{ tweet.userScreenName }}</h4>
                        <p>{{ tweet.content }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <script src="{{ asset('js/play.js') }}"></script>
{% endblock %}
</body>
</html>